<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New response in <%= title %>
    </title>
</head>

<body
    style="margin: 0; padding: 0; font-family: 'Noto Sans', 'Helvetica', 'Arial', sans-serif; background-color: #ececec;">
    <table cellpadding="0" cellspacing="0" border="0" align="center" height="100%" width="100%"
        style="height: 100%; width: 100%; padding: 20px;" bgcolor="#ECECEC">
        <tr>
            <td>
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="max-width:580px;"
                    bgcolor="#ffffff">
                    <tr bgcolor="##010101">
                        <td>
                            < <a href="#m_7592892073543078336_" style="display: block;">
                                <img src="https://res.cloudinary.com/dvlxylj7r/image/upload/v1704224694/rbg0tkbzpcydqwtg1ryh.png"
                                    alt="Pareto Hub" title="Pareto Hub"
                                    style="display: block; border: 0px; width: 200px; height: auto; margin: auto;">
                                </a>
                        </td>
                    </tr>
                    <tr bgcolor="#151f39" height="7">
                        <td>
                            <span
                                style="display:block; text-align:center; color:white; text-decoration:none; line-height:28px; font-size:23px; font-weight:600; margin:10px 30px 0px;">

                                New response in <%= title %>
                            </span>
                        </td>
                    </tr>
                    <tr bgcolor="#ffffff" height="15">
                        <td>
                            <span
                                style="display:block; text-align:center; color:#fff; text-decoration:none; line-height:15px;">&nbsp;</span>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-bottom: 1px solid #e2e5e6;" bgcolor="#FFFFFF">
                            <table style="padding:20px 30px" width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tr>
                                    <td>
                                        <p
                                            style="color:#010101; font-size:15px; line-height:28px; font-weight:400; display:block; text-decoration:none;">
                                            <br>
                                            Hello, <span style="color:#000080;">
                                                <%= name %>,
                                            </span> <br>
                                            Someone has responded to your question in the Pareto Hub blog. The response
                                            is related to the article titled <span style="font: bold; color: #000080;">"
                                                <%= title %>".
                                            </span> <br>

                                            Please log in to our <a href="https://www.paretohub.com"
                                                style="text-decoration: none;">ParetoHub</a> to view and engage with the
                                            response. <br>
                                            <br>
                                            Thank you for contributing to the discussion on Pareto Hub.
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr bgcolor="#151f39" height="1">
                        <td>
                            <span
                                style="display:block; text-align:center; color:#fff; text-decoration:none; line-height:30px; height:1px; background:#f5f5f5; display:block;">
                                &nbsp;
                            </span>
                        </td>
                    </tr>
                    <tr bgcolor="#151f39" height="30">
                        <td>
                            <p
                                style="margin-bottom:0px; padding:15px 20px 0px; display:block; font-size:12px; color:#bbb; text-align:center;">
                                If you have any questions or need assistance, contact our support team via email
                                <a href="mailto:team@phionira.com"
                                    style="display:inline-block; font-family:Noto Sans,Helvetica,Arial,sans-serif; text-align:center; color:#bbb; text-decoration:underline; line-height:30px; padding:0px 5px 0px; font-size:12px;"
                                    target="_blank"> contact@paretohub.com</a>
                            </p>
                        </td>
                    </tr>
                    <tr bgcolor="#151f39" height="30">
                        <td>
                            <span
                                style="display:block; text-align:center; color:#bbb; text-decoration:none; line-height:30px; padding:20px 20px 30px; display:block; font-size:13px;">
                                An email has been sent to <a style="color:white;" target="_blank">
                                    <%= email %>
                                </a><br>
                                Copyright © Pareto Hub
                            </span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>

</html>